
.headname{
    color: #49515d;
    font-size: 20px;
    margin: 15px 0 0;
}

.headname h3 span{
    color:#2eca7f;
}

.navbar1{
    position: relative;
    float:right;
    margin:10px;
    transition: all 0.2s ease-in-out;
}


.nav-item{
    display:inline-block;
}


.nav-link{
    color:black;
}

.card{
    position: relative;
    background-color: #fff;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15);
}

.card .card-header{
    position:relative;
    background-color:#2eca7f;
    border-radius: 15px 15px 0px 0px;
}

.card .card-header .header-pic{
    max-width:300px;
    transition: all 0.3s ease-in-out;
    margin-bottom:-30px;
    text-align:center;
}

.card .card-header .header-pic:hover{
    transform: translateY(-9px);
}


.card .card-header .header-pic img{
    max-width:300px;
    box-shadow: 0 18px 24px rgba(0, 0, 0, 0.15); 
}

.card .card-header .header-word{
    text-align: center;
    margin-top:60px;
}

.header-word .header-text{
    color:white;
}

.header-icon i{
    width:30px;
    height:30px;
    background-color:white;
    margin:10px;
    text-align: center;
    line-height: 30px;
}

.card-content{
    margin:40px;
}

.aboutme .me-title h3 span{
    color:#2eca7f;
}

body > footer {
    margin-top:50px;
    bottom: 0;
    left: 0;
    right: 0;
}

/* resume css */
.card-header .header-text{
    color:white;
    text-align: center;
}

.card-content .edu-content{
    border-left: 2px solid lightgray;
    padding-left:30px;
}

.card-content .edu-content .edu-content-box{
    padding:10px;
    margin:20px;
    border: 1px solid lightgray;
    border-left: 2px solid #2eca7f;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}

.card-content .edu-content .edu-content-box:before{
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 100px;
    left: 10px;
    border: 2px solid #2eca7f;
    z-index: 2;
}

.card-content .edu-content .edu-content-box:after{
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #2eca7f;
    border-radius: 10px;
    width: 58px;
    height: 2px;
    top: 105px;
    left: 10px;
    z-index: 1;
}

.card-content .edu-content .edu-content-box2{
    padding:10px;
    margin:20px;
    border: 1px solid lightgray;
    border-left: 2px solid #2eca7f;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}

.card-content .edu-content .edu-content-box2:before{
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 255px;
    left: 10px;
    border: 2px solid #2eca7f;
    z-index: 2;
}

.card-content .edu-content .edu-content-box2:after{
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #2eca7f;
    border-radius: 10px;
    width: 58px;
    height: 2px;
    top: 260px;
    left: 10px;
    z-index: 1;
}

.card-content .edu-content .edu-content-box3{
    padding:10px;
    margin:20px;
    border: 1px solid lightgray;
    border-left: 2px solid #2eca7f;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
}

.card-content .edu-content .edu-content-box3:before{
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    top: 410px;
    left: 10px;
    border: 2px solid #2eca7f;
    z-index: 2;
}

.card-content .edu-content .edu-content-box3:after{
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #2eca7f;
    border-radius: 10px;
    width: 58px;
    height: 2px;
    top: 415px;
    left: 10px;
    z-index: 1;
}


.card .card-content .edu-content .content-box-in .content-box-time{
    color:#2eca7f;
}

.card .card-content .edu-content .content-box-in .content-box-time .co{
    color:rgb(189, 188, 188);
    border-left:1px solid lightgray;
    padding-left: 5px;
}

.skill-content .skill-name{
    font-size: 0.8em;
}